
.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: -20px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;

		[class*='owl-'] {
			color: $nav-color;
			font-size: $nav-font-size;
			margin: 0;
			width: 40px;
			height: 40px;
			line-height: 40px;
			display: inline-block;
			cursor: pointer;
			border: 1px solid $border-color;
			padding: 7px 0 0 0;
			&:hover {
				color:$nav-color-hover;
				text-decoration: none;
				background: $nav-color-hover;
				opacity: .7;
			}
		}
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
		.owl-prev{
			float: left;
			margin: 0 !important;
			border-right: none;
		}
		.owl-next{
			float: right;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		margin-top: 25px;
		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: $dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: 30px;
			}

			&.active,
			&:hover {
				span {
					background: $dot-background-active;
				}
			}
		}
	}
	&.nav-top
	{
		.owl-nav
		{
			position: absolute;
			top: -50px;
			left: 0;
			right: 0;
			text-align: right;
			.owl-prev
			{
				margin-right: 10px;
			}
			.owl-prev, .owl-next
			{
				float: none;
				display: inline-block;
				text-align: center;
			}
		}
	}
}
.owl-thumbs {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@media (max-width: $screen-sm-max) {
		flex-wrap: nowrap;
	}
	.owl-thumb-item {
		cursor: pointer;
		margin: 0 0 15px 0;
		img {
			max-width: 100%;
			opacity: .4;
		}
		&.active {
			img {
				opacity: 1;
			}
		}
	}
}