// Fonts
@import "project/fonts";
// Variables
@import "project/variables";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "bootstrap";
.header-top, .header-bottom {
  position: relative;
  z-index: 6;
  background: #fff;
}
.header-additional {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 1px;
  visibility: hidden;
  opacity: 0;
  transition: all .2s;
  &-wrapper {
    background: #fff;
    position: relative;
    z-index: 2;
    padding: 0 0 26px 0;
  }
  &.__opened {
    visibility: visible;
    opacity: 1;
    z-index: 2;
    &:before {
      content: "";
      background: rgba(0, 0, 0, .3);
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
    }
  }
  &-title {
    font-size: 24px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 30px 0 28px 0;
    border-bottom: 1px solid #DFDEDE;
    width: 90%;
  }
  &-title2 {
    font-size: 24px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 30px 0 20px 0;
  }
  &-title3 {
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0 14px 0;
    border-bottom: 1px solid #DFDEDE;
    & + ul {
      list-style-type: none;
      margin: 20px 0;
      padding: 0;
      font-size: 16px;
      line-height: 32px;
      text-transform: uppercase;
    }
  }
  &-list {
    ul {
      list-style-type: none;
      padding: 20px 0;
      margin: 0;
      li {
        font-size: 16px;
        line-height: 32px;
        text-transform: uppercase;
      }
    }
  }
  &-top {
    border-bottom: 1px solid #DFDEDE;
    ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
    }
    li {
      border-bottom: 2px solid transparent;
      padding-top: 10px;
      text-align: center;
      a {
        font-size: 32px;
        line-height: 29px;
        text-transform: uppercase;
        color: $brand-hover;
        padding: 21px 0 31px 0;
        display: block;
      }
      &.__active, &:hover {
        border-bottom: 2px solid $brand-hover;
        a {
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }
}
header {
  .header-bottom {
    @media (min-width: $screen-md-min) {
      padding-bottom: 0;
    }
  }
  .topnavigation {
    margin: -15px 0 0 0;
    ul {
      margin: 0;
      align-items: stretch;
    }
    li {
      padding: 0;
      width: 100%;
      display: block;
      text-align: center;
      a{
        padding: 23px 15px 10px 15px;
        position: relative;
        border-bottom-color: transparent;
      }
      a.active{
        border-bottom-color: transparent ;
        &:after{
          content: '';
          left: 15px;
          right: 15px;
          bottom: 5px;
          height: 3px;
          background: $brand-hover;
          position: absolute;
        }
      }
      &:hover, &.__opened {
        @media (min-width: $screen-md-min) {
          background: $grey-superlight;
        }
        a{
          border-bottom-color: transparent;
          &:after{
            content: '';
            left: 15px;
            right: 15px;
            bottom: 5px;
            height: 3px;
            background: $brand-hover;
            position: absolute;
          }
        }
      }
      &.__opened {
        a {
          text-decoration: none;
          border-bottom-color: transparent;
        }
      }
      &.__salelink {
        &:hover {
          background: transparent;
          a {
            border-bottom-color: transparent;
          }
        }
      }
      &.__salelink {
        img {
          top: -6px;
          position: relative;
        }
      }
    }
  }
}
.collect-item {
  margin-top: 20px;
  margin-bottom: 70px;
  @media (max-width: $screen-sm-max) {
    margin-bottom: 40px;
  }
  img {
    max-width: 100%;
    height: auto !important;
  }
  &-wrapper {
    @media (min-width: $screen-md-min) {
      padding-left: 30px;
    }
  }
  &-list {
    list-style-type: none;
    margin: 15px 0;
    padding: 0;
    max-width: 200px;
    li {
      padding: 5px 0;
      font-size: 16px;
      line-height: 24px;
      strong {
        display: inline-block;
        width: 49%;
      }
      span {
        display: inline-block;
        width: 49%;
      }
    }
  }
  h3 {
    font-size: 28px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 64px 0 20px 0;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  .btn-default {
    background: $brand-hover;
  }
  &:nth-child(even) {
    & > div {
      @media (min-width: $screen-md-min) {
        float: right;
      }
    }
    .collect-item-wrapper {
      @media (min-width: $screen-md-min) {
        padding-right: 30px;
        padding-left: 0;
      }
    }

  }
}
.style-2{
  .filter-block{
    &.inline-filters{
      .filter-block-item{
        display: inline-block;
        @media (min-width: $screen-md-min) {
          width: 33%;
        }
      }
    }
    &.inline-filters2
    {
      .filter-block-item{
        display: inline-block;
        @media (min-width: $screen-md-min) {
          width: 49%;
        }
      }
    }
    &-item{
      display: block;
      width: 100%;
      label{
        border: none;
        padding: 0 0 0 27px;
        position: relative;
        &:before{
          content: "";
          width: 13px;
          height: 13px;
          border: 1px solid #E0E0E0;
          position: absolute;
          top: 2px;
          left: 0;
        }
      }
      input:checked + label
      {
        padding: 0 0 0 27px;
        color: inherit;
        background: transparent;
        &:after
        {
          content: "";
          width: 7px;
          height: 7px;
          background-color: $brand-hover;
          background-image: none;
          position: absolute;
          top: 5px;
          left: 3px;
          margin: 0;
        }
        &:before{
          border-color: $brand-hover;
        }
      }
    }
    &-title{
      padding-bottom: 13px;
    }
  }
}

.__colorblock{
  margin: 15px 0;

  label{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0 10px 0 0;
    position: relative;
  }
  input{
    display: none;
    &:checked+label:before{
      content: "";
      background: url(../svg/check.svg) no-repeat center;
      width: 14px;
      height: 14px;
      position: absolute;
      top:50%;
      left: 50%;
      margin: -7px 0 0 -7px;
    }
  }
}

.product-main-another
{
  border: 1px solid #E5E5E5;
  display: inline-block;
  @media (min-width: $screen-md-min) {
    min-width: 284px;
  }
  &:hover{
    text-decoration: none;
    color: black;
  }
  span{
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: middle;
    max-width: 166px;
    padding-right: 30px;
  }
}

.cabinet-links-small
{
  font-size: 14px;
  line-height: 13px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
}
.cabinet-materials
{
  margin: 47px 0 0 0;
  &-item{
    position: relative;
    margin: 0 0 47px 0;
  }
  img{
    position: absolute;
    top: 5px;
    left: 0;
  }
  &-title{
    padding: 0 0 0 60px;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }
  &-subtitle{
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    padding: 0 0 0 60px;
  }
  &.__docs{
    img{
      top: 0;
    }
    .cabinet-materials-title, .cabinet-materials-subtitle{
      padding-left: 40px;
    }
  }
}
.page-subitle-back
{
  font-size: 16px;
  text-transform: uppercase;
  @media (min-width: $screen-md-min) {
   float: right;
  }
}
.cabinet-wrapper-repeat
{
  @media (min-width: $screen-md-min) {
    float: right;
  }
}

.optzakaz
{
  th{
    color: #999999;
    font-size: 14px;
  }
  tbody{
    td{
      text-transform: uppercase;
      font-size: 18px;
      &:first-child{
        width: 50%;
      }
    }
  }
  tfoot{
    td{
      font-size: 16px;
      line-height: 15px;
      text-transform: uppercase;
      strong{
        font-size: 24px;
        line-height: 22px;
        text-transform: uppercase;
      }
    }

  }
}

.cabinet-wrapper
{
  .news-item
  {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #E6E6E6;
    img{
      margin: 20px 0;
    }
    &-title{
      font-size: 20px;
    }

  }
}
.btn-info.btn-optovik
{
  color: #333333;
  background: white;
  &:hover{
    opacity: .9;
  }
}
.product-main-buy .big-link.reset-opt-link
{
  margin: 20px 0;
  display: inline-block;
}
.opt-select
{
  @media (min-width: $screen-md-min) {
    width: 80%;
  }
  &-item{
    border: 1px solid #E5E5E5;
    &.checkeds{
      .opt-select-size
      {
        font-weight: bold;
        background: #F6F6F6;
      }
      .opt-select-input input{
        color: #333333;
      }
    }
  }
  &-title{
    font-size: 14px;
    line-height: 13px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    color: #333333;
  }
  &-size{
    float: left;
    width: 30%;
    border-right: 1px solid #E5E5E5;
    font-size: 14px;
    line-height: 13px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  &-input{
    float: left;
    width: 70%;
    padding: 5px 10px;
    text-align: center;
    input{
      display: inline-block;
      border: none;
      width: 24px;
      text-align: center;
      color: #DADADA;
      font-size: 14px;
      line-height: 13px;
      vertical-align: middle;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    a{
      font-size: 18px;
      cursor: pointer;
      line-height: 1;
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.variant-2
{
  .header-bottom
  {
    background: transparent;
    .topnavigation li{
      &:hover, &.__opened {
        a{
          color: $brand-hover;
        }
      }
      a.active{
        border-bottom-color: transparent ;
        &:after{
          background: #fff;
        }
      }
    }
  }
}