//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: 0;
  margin-bottom: 10px;
  list-style: none;
  margin-top: 20px;
  > li {
    display: inline-block;
    color: #999999;
    font-size: 14px;
    a{
      color: #999999;
    }

    + li:before {
      // [converter] Workaround for https://github.com/sass/libsass/issues/1115
      $nbsp: "\00a0";
      content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: #999999;
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
