//
// Pager pagination
// --------------------------------------------------


.pager {
  padding-left: 0;
  text-align: center;
  margin: $line-height-computed 0;
  list-style: none;
  @include clearfix;
  li {
    display: inline;
    margin: 0 12px;
    > a,
    > span {
      display: inline-block;
      text-align: center;
      line-height: 26px;
      font-weight: 500;
      color: $grey-link;
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
      color: $brand-hover;
    }
    &.active{
      > a,
      > span {
        color: $brand-hover;
        border-bottom: 2px solid $brand-hover;
      }
    }
    [class^="icon-"]:before, [class*=" icon-"]:before {
      font-size: 9px;
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $pager-disabled-color;
      background-color: $pager-bg;
      cursor: $cursor-disabled;
    }
  }
  &-load-more{
    text-align: center;
    margin: 30px 0;
    a{
      color: $grey-link;
      text-transform: uppercase;
      border-bottom: 1px dashed  $grey-link;
      &:hover{
        color: $brand-hover;
        border-color: $brand-hover;
        text-decoration: none;
      }
    }
  }
}
