.header-top,
.header-bottom
{
    position: relative;
    z-index: 6;

    background: #fff;
}

.header-additional
{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    visibility: hidden;

    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s; 

    opacity: 0;
}
.header-additional-wrapper
{
    position: relative;
    z-index: 2;

    padding: 0 0 26px 0; 

    background: #fff;
}
.header-additional.__opened
{
    z-index: 2; 

    visibility: visible;

    opacity: 1;
}
.topnavigation>ul>li:hover
{
    z-index: 2;
}
.topnavigation>ul>li:hover a{
    z-index: 2;
}
.topnavigation>ul>li:hover .header-additional:before
{
    position: fixed;
    z-index: 0; 
    top: 159px;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: rgba(0, 0, 0, .3);
}
.header-additional-title
{
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;

    width: 90%; 
    padding: 30px 0 28px 0;

    text-transform: uppercase;

    border-bottom: 1px solid #dfdede;
}
.header-additional-title2
{
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;

    padding: 30px 0 20px 0; 

    text-transform: uppercase;
}
.header-additional-title3
{
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;

    padding: 10px 0 14px 0;

    text-transform: uppercase;

    border-bottom: 1px solid #dfdede;
}
.header-additional-title3 + ul
{
    font-size: 16px;
    line-height: 32px;

    margin: 20px 0;
    padding: 0;

    list-style-type: none;

    text-transform: uppercase;
}
.header-additional-list ul
{
    margin: 0; 
    padding: 20px 0;

    list-style-type: none;
}
.header-additional-list ul li
{
    font-size: 16px;
    line-height: 32px;

    text-transform: uppercase;
}
.header-additional-top
{
    border-bottom: 1px solid #dfdede;
}
.header-additional-top ul
{
    margin-bottom: 0; 
    padding: 0;

    list-style-type: none;
}
.header-additional-top li
{
    padding-top: 10px;

    text-align: center; 

    border-bottom: 2px solid transparent;
}
.header-additional-top li a
{
    font-size: 32px;
    line-height: 29px;

    display: block; 

    padding: 21px 0 31px 0;

    text-transform: uppercase;

    color: #333;
}
.header-additional-top li.__active,
.header-additional-top li:hover
{
    border-bottom: 2px solid #333;
}
.header-additional-top li.__active a,
.header-additional-top li:hover a
{
    font-weight: 600;

    text-decoration: none;
}

@media (min-width: 992px)
{
    header .header-bottom
    {
        padding-bottom: 0;
    }
}

header .topnavigation
{
    margin: -15px 0 0 0;
}
header .topnavigation>ul
{
    margin: 0;

    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
            align-items: stretch;
}
header .topnavigation>ul>li
{
    display: block;

    width: 100%;
    padding: 0;

    text-align: center;
}
header .topnavigation>ul>li>a
{
    position: relative;

    padding: 23px 15px 10px 15px;

    border-bottom-color: transparent;
}
header .topnavigation>ul>li>a.active
{
    border-bottom-color: transparent;
}
header .topnavigation>ul>li>a.active:after
{
    position: absolute; 
    right: 15px;
    bottom: 5px;
    left: 15px;

    height: 3px;

    content: '';

    background: #333;
}
@media (min-width: 992px)
{
    header .topnavigation>ul>li:hover,
    header .topnavigation>ul>li.__opened
    {
        background: #f8f8f8;
    }
}
header .topnavigation>ul>li>:hover>a,
header .topnavigation>ul>li>.__opened>a
{
    border-bottom-color: transparent;
}
header .topnavigation>ul>li:hover>a:after,
header .topnavigation>ul>li.__opened>a:after
{
    position: absolute; 
    right: 15px;
    bottom: 5px;
    left: 15px;

    height: 3px;

    content: '';

    background: #333;
}
header .topnavigation>ul>li.__opened>a
{
    text-decoration: none;

    border-bottom-color: transparent;
}
header .topnavigation li.__salelink:hover
{
    background: transparent;
}
header .topnavigation li.__salelink:hover a
{
    border-bottom-color: transparent;
}
header .topnavigation li.__salelink img
{
    position: relative; 
    top: -6px;
}

.collect-item
{
    margin-top: 20px;
    margin-bottom: 70px;
}
@media (max-width: 991px)
{
    .collect-item
    {
        margin-bottom: 40px;
    }
}
.collect-item img
{
    max-width: 100%;
    height: auto !important;
}
@media (min-width: 992px)
{
    .collect-item-wrapper
    {
        padding-left: 30px;
    }
}
.collect-item-list
{
    max-width: 200px; 
    margin: 15px 0;
    padding: 0;

    list-style-type: none;
}
.collect-item-list li
{
    font-size: 16px;
    line-height: 24px; 

    padding: 5px 0;
}
.collect-item-list li strong
{
    display: inline-block;

    width: 49%;
}
.collect-item-list li span
{
    display: inline-block;

    width: 49%;
}
.collect-item h3
{
    font-size: 28px;
    font-weight: bold; 
    line-height: 25px;

    margin: 64px 0 20px 0;

    text-transform: uppercase;
}
.collect-item p
{
    font-size: 16px;
    line-height: 24px;
}
.collect-item .btn-default
{
    background: #333;
}
@media (min-width: 992px)
{
    .collect-item:nth-child(even) > div
    {
        float: right;
    }
}
@media (min-width: 992px)
{
    .collect-item:nth-child(even) .collect-item-wrapper
    {
        padding-right: 30px;
        padding-left: 0;
    }
}

.style-2 .filter-block.inline-filters .filter-block-item
{
    display: inline-block;
}
@media (min-width: 992px)
{
    .style-2 .filter-block.inline-filters .filter-block-item
    {
        width: 33%;
    }
}

.style-2 .filter-block.inline-filters2 .filter-block-item
{
    display: inline-block;
}
@media (min-width: 992px)
{
    .style-2 .filter-block.inline-filters2 .filter-block-item
    {
        width: 49%;
    }
}

.style-2 .filter-block-item
{
    display: block;

    width: 100%;
}
.style-2 .filter-block-item label
{
    position: relative; 

    padding: 0 0 0 27px;

    border: none;
}
.style-2 .filter-block-item label:before
{
    position: absolute;
    top: 2px;
    left: 0; 

    width: 13px;
    height: 13px;

    content: '';

    border: 1px solid #e0e0e0;
}
.style-2 .filter-block-item input:checked + label
{
    padding: 0 0 0 27px;

    color: inherit;
    background: transparent;
}
.style-2 .filter-block-item input:checked + label:after
{
    position: absolute;
    top: 5px;
    left: 3px;

    width: 7px;
    height: 7px;
    margin: 0; 

    content: '';

    background-color: #333;
    background-image: none;
}
.style-2 .filter-block-item input:checked + label:before
{
    border-color: #333;
}

.style-2 .filter-block-title
{
    padding-bottom: 13px;
}

.__colorblock
{
    margin: 15px 0;
}
.__colorblock label
{
    position: relative; 

    display: inline-block;

    width: 32px;
    height: 32px;
    margin: 0 10px 0 0;
}
.__colorblock input
{
    display: none;
}
.__colorblock input:checked + label:before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 14px;
    height: 14px;
    margin: -7px 0 0 -7px; 

    content: '';

    background: url(../svg/check.svg) no-repeat center;
}

.product-main-another
{
    display: inline-block; 

    border: 1px solid #e5e5e5;
}
@media (min-width: 992px)
{
    .product-main-another
    {
        min-width: 284px;
    }
}
.product-main-another:hover
{
    text-decoration: none;

    color: black;
}
.product-main-another span
{
    font-size: 16px;
    line-height: 22px;

    display: inline-block;

    max-width: 166px;
    margin: 0 0 0 10px;
    padding-right: 30px; 

    vertical-align: middle;
    text-transform: uppercase;
}

.cabinet-links-small
{
    font-size: 14px;
    font-weight: 400; 
    line-height: 13px;

    text-transform: uppercase;

    color: #333;
}

.cabinet-materials
{
    margin: 47px 0 0 0;
}
.cabinet-materials-item
{
    position: relative;

    margin: 0 0 47px 0;
}
.cabinet-materials img
{
    position: absolute;
    top: 5px;
    left: 0;
}
.cabinet-materials-title
{
    font-size: 16px;
    line-height: 24px;

    padding: 0 0 0 60px;

    color: #333;
}
.cabinet-materials-subtitle
{
    font-size: 14px;
    line-height: 24px;

    padding: 0 0 0 60px; 

    color: #999;
}
.cabinet-materials.__docs img
{
    top: 0;
}
.cabinet-materials.__docs .cabinet-materials-title,
.cabinet-materials.__docs .cabinet-materials-subtitle
{
    padding-left: 40px;
}

.page-subitle-back
{
    font-size: 16px;

    text-transform: uppercase;
}
@media (min-width: 992px)
{
    .page-subitle-back
    {
        float: right;
    }
}

@media (min-width: 992px)
{
    .cabinet-wrapper-repeat
    {
        float: right;
    }
}

.optzakaz th
{
    font-size: 14px; 

    color: #999;
}

.optzakaz tbody td
{
    font-size: 18px; 

    text-transform: uppercase;
}
.optzakaz tbody td:first-child
{
    width: 50%;
}

.optzakaz tfoot td
{
    font-size: 16px;
    line-height: 15px;

    text-transform: uppercase;
}
.optzakaz tfoot td strong
{
    font-size: 24px;
    line-height: 22px;

    text-transform: uppercase;
}

.cabinet-wrapper .news-item
{
    padding: 0 0 30px 0;

    border-bottom: 1px solid #e6e6e6;
}
.cabinet-wrapper .news-item img
{
    margin: 20px 0;
}
.cabinet-wrapper .news-item-title
{
    font-size: 20px;
}

.btn-info.btn-optovik
{
    color: #333;
    background: white;
}
.btn-info.btn-optovik:hover
{
    opacity: .9;
}

.product-main-buy .big-link.reset-opt-link
{
    display: inline-block; 

    margin: 20px 0;
}

@media (min-width: 992px)
{
    .opt-select
    {
        width: 80%;
    }
}

.opt-select-item
{
    border: 1px solid #e5e5e5;
}
.opt-select-item.checkeds .opt-select-size
{
    font-weight: bold;

    background: #f6f6f6;
}
.opt-select-item.checkeds .opt-select-input input
{
    color: #333;
}

.opt-select-title
{
    font-size: 14px;
    line-height: 13px;

    margin: 0 0 10px 0;

    text-transform: uppercase;

    color: #333;
}

.opt-select-size
{
    font-size: 14px;
    line-height: 13px;

    float: left;

    width: 30%;
    padding: 10px;

    text-align: center;
    text-transform: uppercase; 

    border-right: 1px solid #e5e5e5;
}

.opt-select-input
{
    float: left;

    width: 70%;
    padding: 5px 10px;

    text-align: center;
}
.opt-select-input input
{
    font-size: 14px;
    line-height: 13px;

    display: inline-block;

    width: 24px;

    text-align: center;
    vertical-align: middle; 

    color: #dadada;
    border: none;
}
.opt-select-input input::-webkit-inner-spin-button,
.opt-select-input input::-webkit-outer-spin-button
{
    margin: 0; 

    -webkit-appearance: none;
}
.opt-select-input a
{
    font-size: 18px;
    line-height: 1;

    display: inline-block;

    width: 18px;
    height: 18px; 

    cursor: pointer;
    vertical-align: middle;
}
.opt-select-input a:hover
{
    text-decoration: none;
}

.variant-2 .header-bottom
{
    background: transparent;
}
.variant-2 .header-bottom .topnavigation>ul>li:hover>a,
.variant-2 .header-bottom .topnavigation>ul>li.__opened>a
{
    color: #333;
}
.variant-2 .header-bottom .topnavigation>ul>li>a.active
{
    border-bottom-color: transparent;
}
.variant-2 .header-bottom .topnavigation>ul>li>a.active:after
{
    background: #fff;
}
html.magnifying > body {
    overflow-x: hidden !important;
}
.magnify,
.magnify > .magnify-lens,
.magnify-mobile,
.lens-mobile { /* Reset */
    min-width: 0;
    min-height: 0;
    animation: none;
    border: none;
    float: none;
    margin: 0;
    opacity: 1;
    outline: none;
    overflow: visible;
    padding: 0;
    text-indent: 0;
    transform: none;
    transition: none;
}
.magnify {
    position: relative;
    width: auto;
    height: auto;
    box-shadow: none;
    display: inline-block;
    z-index: inherit;
}
.magnify > .magnify-lens { /* Magnifying lens */
    position: absolute;
    width: 60%;
    height: 50%;
    border: 1px solid #fff;
    cursor: none;
    display: none;
    z-index: 99;
}
.magnify > .magnify-lens.loading {
    background: #333 !important;
    opacity: 0.8;
}
.magnify > .magnify-lens.loading:after { /* Loading text */
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #fff;
    content: 'Loading...';
    font: italic normal 16px/1 Calibri, sans-serif;
    letter-spacing: 1px;
    margin-top: -8px;
    text-align: center;
    text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
    text-transform: none;
}

.add-files-btn, .file_field_delete{
    cursor: pointer;
    font-size: 26px;
}
.add_files_wrapper input
{
    margin: 10px 0;
}
@media (min-width: 1600px) {
    .product-block-main .owl-theme .owl-nav [class*='owl-'] {
        border: none;
    }
    .owl-theme.nav-top .owl-nav
    {
        top: 50%;
    }
    .owl-theme.nav-top .owl-nav .owl-prev
    {
        left: -50px;
        position: absolute;
    }
    .owl-theme.nav-top .owl-nav .owl-next
    {
        right: -50px;
        position: absolute;
    }
    .owl-theme.nav-top .owl-nav .icon-arr_left {
        width: 50px;
        height: 70px;
        background-size: cover;
        background-image: url(../svg/arrow_right_big.svg);
    }
    .owl-theme.nav-top .owl-nav .icon-arr_right
    {
        width: 50px;
        height: 70px;
        background-size: cover;
        background-image: url(../svg/arrow_left_big.svg);
    }
}
header .logo img{
    max-height: 44px;
}
.prod-item-top .btn-info.margin-top16
{
    margin-top: 16px;
}
.prod-quickview
{
    max-width: 990px;
}
.product-collection-title
{
    font-size: 24px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.img-rel-wrapper img{
    max-width: 100%;
    height: auto;
}
.collection-item-product
{
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}
.flex-rows
{
    height: 100%;
    overflow: hidden;
    margin: 0px;
    display: flex;
    box-sizing: border-box;
}
.flex-column {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.flex-bottom {
    flex-grow: 1;
    overflow-y: auto;
}
#left {
    flex-shrink: 0;
}

.top-left {
    flex-shink: 0;
}

.top-right {
    flex-shrink: 0;
    display: inline-flex;
}
.homeslider-2 .item
{
    background-position: center;
}

.topnavigation li:hover .header-additional{
    visibility: visible;
    opacity: 1;
}
.header-bottom .col-md-7
{
    position: static;
}
.sidebar{
    will-change: min-height;
}

.inner-wrapper-sticky{
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
    padding: 0 15px;
}
#sidebar{
    padding: 0;
}