.cardtable
{
  table {
    width: 100%;
    thead {
      th {
        font: 400 $font-size-small $font-family-sans-serif;
        color: $gray-lighter;
        padding: 15px 10px;
        text-align: center;
        border-bottom: 1px solid $border-color;
        &:first-child {
          text-align: left;
        }
      }
    }
    td {
      padding: 12px;
      .cardtable-item {
        font: 500 16px/1em $font-family-sans-serif;
        text-transform: uppercase;
      }
      img {
        max-width: 128px;
      }
      &:first-child {
        padding-right: 0;
      }
    }
    tbody{
      td {
        border-bottom: 1px solid $border-color;
        &:first-child {
          box-shadow:inset 1px 0 0 0 $border-color;
        }
        &:last-child {
          box-shadow:inset -1px 0 0 0 $border-color;
        }
      }
    }
  }
  &-sku{
    font-size: $font-size-small;
    font-weight: 400;
    color: $gray-lighter;
    text-transform: none;
    line-height: 1.5em;
  }
  h4
  {
    text-transform: uppercase;
    a{
      color: $gray-base;
      &:hover{
        color: $brand-info;
      }
    }
  }
  tfoot, &-footer{
    vertical-align: bottom;
    td, .row{
      border-bottom: none;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    tr:first-child{
      td{
        padding-top: 30px;
      }
    }
    .btn{
      margin-left: 30px;
      margin-bottom: 20px;
    }
  }
  &-summ{
    font: 600 24px $font-family-sans-serif;
    text-align: left;
    line-height: 1;
  }
  &-itogo{
    font: 400 16px $font-family-sans-serif;
    text-transform: uppercase;
    line-height: 24px;
  }
  &-nakop{
    color: $grey-link;
    font-size: 14px;
    line-height: 44px;
  }
  &-minitable{
    max-width: 670px;
    display: table;
    float : right;
    &-row{
      display: table-row;
    }
    &-cell{
      display: table-cell;
      padding-top: 10px;
      padding-bottom: 10px;
      &:first-child{
        width: 40%;
      }
      &:last-child{
        padding-left: 30px;
        white-space: nowrap;
      }
    }
  }
  &-icons{
    li{
      margin: 10px 0;
      &:hover{
        opacity: .7;
      }
    }
  }
  &-footer{
    @media (min-width: $screen-lg-min) {
      padding-left: 20%
    }
  }
}

.product-delete
{
  font-size: 10px;
}
.cardtable-qty
{
  width: 80px;
  padding: 3px 20px;
  position: relative;
  margin: 0 auto;
  input{
    width: 100%;
    border: none;
    text-align: center;
    font-size: 16px;
    &:focus{
      outline: none;
    }
  }
  span{
    position: absolute;
    color: $border-color2;
    font-size: $font-size-large;
    cursor: pointer;
    &:hover{
      color: #333333;
    }
    &.minus{
      left: 10px;
    }
  }
}

.form-control, input, button {
  outline: none !important;
  box-shadow:none !important;
  &:focus{
    border-color: $brand-primary !important;
  }
}
.checkoutblock
{
  &-block{
    padding: 0 0 20px 0;
    margin-bottom: 35px;
    border-bottom: 1px solid $border-color2;
    .radio-inline, .checkbox-inline
    {
      margin-right: 20px;
    }
  }
}
.checkout
{
  .form-control{
    background: #fff;
  }
  &-links{
    margin: 13px 0 30px 0;
    strong{
      text-transform: uppercase;
      font-size: 18px;
      display: inline-block;
      margin-right: 40px;
      line-height: 18px;
      vertical-align: middle;
    }
    &-back{
      font-size: 14px;
      vertical-align: middle;
      display: inline-block;
    }
  }
  .cardtable table{
    thead {
      th{
        padding-top: 5px;
        &:first-child{
          padding-left: 0;
        }
      }
    }
    tbody{
      td{
        text-transform: uppercase;
        padding: 15px 12px;
        &:first-child, &:last-child{
          box-shadow: none;
        }
      }
    }
    tfoot{
      tr:first-child td
      {
        padding-top: 13px;
        text-transform: uppercase;
      }
      td:first-child{
        padding-left: 0;

      }
    }
  }
  &-1{
    padding-bottom: 30px;
  }
  &-2{
    .form-group{
      max-width: 352px;
    }
  }
  &-3{
    .checkout{
      margin: 41px 0 20px 0;
      border-top: 1px solid #e6e6e6;
      padding: 30px 0 0 0;
      table{
        min-width: 282px;
        margin: 3px 0 21px 0;
        td{
          padding: 6px 0;
          text-transform: uppercase;
        }
        tfoot{
          td{
            padding-top: 18px;
            strong{
              font-size: 24px;
            }
          }
        }
      }
      .btn
      {
        margin-bottom: 15px;
      }
    }
  }
  &-itogo{
    max-width: 480px;
  }
}