@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTCYR-BdCond.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTCYR-BdCond.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTCYR-Cond.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTCYR-Cond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}