footer{
  background: $grey-superlight;
  border-top: 1px solid $border-color;
  .__socials{
    margin: 0px 0 10px 0;
    [class^='icon-']
    {
      width: 28px;
      height: 28px;
    }
    li{
      padding: 0 20px 0 0;
    }
  }
}
.footer{
  &-menu-title
  {
    margin: 0 0 8px 0;
    text-transform: uppercase;
  }
  &-top{
    padding: 51px 0 0px 0;
    li{
      padding: 5px 0;
      a{
        font-family: $font-family-serif;
        font-size: 13px;
      }
    }
    .menu{
      list-style-type: none;
      margin: 7px 0 0 0;
      padding: 0;
    }
    .header-phone
    {
      padding: 13px 0 0 0;
      strong{
        font-size: 20px;
        margin: 0 0 4px 0;
      }
      a.modal-link{
        color: $brand-light;
        padding: 0;
      }
    }
  }
  &-logo{
    margin: 10px 0;
  }
  &-bottom{
    padding: 20px 0;
    font-size: $font-size-small;

  }
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  background: rgba($brand-primary, .2);
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: background 0.2s ease-out;
  opacity: 0;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  padding: 6px 0 0 0;
  span{
    color: white;
    font-size: 9px;
    transform: rotate(-180deg);
  }
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  &:hover {
    background: rgba($brand-primary, .3);
  }
  &.show {
    opacity: 1;
  }
}
