header{
  border-bottom: 1px solid $border-color;
  position: relative;
  z-index: 10;
}
.header{
  &-top{
    background: $grey-superlight;
    border-bottom: 1px solid $border-color;
    font-size: 13px;
    padding: 5px 21px 0 8px;
    @media (max-width: $screen-xs-max) {
      padding: 5px 0 0 0;
    }
    &-currency{
      display: inline-block;
      margin: 0 0 0 30px;
      @media (max-width: $screen-xs-max) {
        margin: 5px 0 0 0;
      }
      span, ul, li{
        display: inline-block;
      }
      ul{
        list-style-type: none;
        margin: 0 0 0 10px;
        padding: 0;
      }
    }
    &-city{
      margin: 0 14px;
      display: inline-block;
      a{
        color: $brand-hover;
        border-bottom: 1px dashed
      }
    }
    ul{
      margin: 0;
      padding: 0;
    }
  }
  &-links{
    text-align: right;
    @media (max-width: $screen-xs-max) {
     text-align: center;
    }
    ul{
      li{
        vertical-align: middle;
      }
    }
  }
  &-bottom{
    padding: 15px 0 4px 0;
  }
}
._border-link
{
  display: inline-block;
  padding: 5px 8px 4px 8px;
  line-height: 1;
  border: 1px solid transparent;
  &.__active{
    border: 1px solid $brand-hover;
  }
}
.search-holder{
  display: inline-block;
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  .circle{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    clip-path: circle(20px at 50% 50%);
    transition: clip-path .4s ease-in;
    z-index: 2;

  }
  &.active{
    left: auto;
    right: 0;
    width: auto;
    .circle{
      clip-path: circle(100% at 50% 50%);
      transition: clip-path .4s ease-in;
      background-color: rgba(0,0,0,.3);
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      position: fixed;
    }
  }

  .search-button{
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 2;
    &-button{
      width: 24px;
      height: 24px;
      background: transparent;
      display: block;
      text-align: center;
      line-height: 24px;
      border: none;
      color: $brand-primary;
      position: absolute;
      right: 10px;
      top: 1px;
    }

  }
  &.active .search-button {
    box-shadow: none;
    transition: background-color .2s ease;
    -webkit-transition: background-color .2s ease;
    transition-delay: .1s;
    border-radius: 50%;
    background: $black;
    position: relative;
    top: 2px;
    margin-right: -35px;
    &:before{
      position: absolute;
      width: 24px;
      height: 24px;
      background: url(../svg/close.svg) no-repeat center center;
      top: 50%;
      left: 50%;
      margin: -12px 0 0 -12px;
      content: "";
    }
  }
  .search-input{
    background-color: transparent;
    height: 40px;
    color: $brand-primary;
    text-align: left;
    border: 0;
    box-shadow: none;
    outline: none;
    transform: translate(0,55px);
    transition: transform .4s ease;
    font-size: 1em;
    padding: 0 20px;
    opacity: 0;
    visibility: hidden;
    width: 360px;
    @media (max-width: $screen-xs-max) {
      width: 230px;
    }
    &::-webkit-input-placeholder {
      color: $brand-primary;
    }
    &:focus{
      &::-webkit-input-placeholder{
        color: transparent;
      }
    }
  }
  &.active .search-input{
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
    transition: transform .4s ease, opacity .2s ease;
    transition-delay: .3s;
  }
  .form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    position: relative;

    border-radius: 20px;
    z-index: 10;
    transition: width .4s ease, background-color .4s ease;
  }
  &.active .form {
    background-color: #fff;
    width: 400px;
    height: 30px;
    transition: width .4s ease, background-color .4s ease, margin .4s ease;
    margin: 0 45px 0 0;
    @media (max-width: $screen-xs-max) {
      width: 270px;
    }
  }
}

div.menu-toggle {
  width: 32px;
  height: 22px;
  position: absolute;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 20;
  top: 0;
  right: 10px;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: $grey-link;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(even) {
      left: 50%;
      border-radius: 0 2px 2px 0;
    }

    &:nth-child(odd) {
      left: 0;
      border-radius: 2px 0 0 2px;
    }

    &:nth-child(1), &:nth-child(2) {
      top: 0;
    }

    &:nth-child(3), &:nth-child(4) {
      top: 9px;
    }

    &:nth-child(5), &:nth-child(6) {
      top: 18px;
    }

  }
  .menu-toggle-open & {
    span{
      background: $background-color;
    }
    span:nth-child(1), span:nth-child(6) {

      transform: rotate(45deg);
    }

    span:nth-child(2), span:nth-child(5) {
      transform: rotate(-45deg);
    }

    span:nth-child(1) {
      left: 1px;
      top: 5px;
    }

    span:nth-child(2) {
      left: calc(50% - 4px);
      top: 5px;
    }

    span:nth-child(3) {
      left: -50%;
      opacity: 0;
    }

    span:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    span:nth-child(5) {
      top: 16px;
      left: 1px;
    }

    span:nth-child(6) {
      left: calc(50% - 4px);
      top: 16px;
    }
  }
}

@media (max-width: $screen-sm-max) {
  nav.topnavigation {
    z-index: 1;
    position: fixed;
    top: -102%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;
    &:before {
      content: '';
      @include position-center;
      background: rgba($brand-primary, 0.98);
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
      transform: scale(0.04), translateY(9999px);
      overflow: hidden;
      z-index: 11;
    }
    .menu-toggle-open & {
      top: -3px;
      &:before {
        animation: menu-animation 0.8s ease-out forwards;
      }
    }
    ul {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      backface-visibility: hidden;
      perspective: 1000;
      display: block;
      color: white;
      visibility: hidden;
      z-index: 12;
      padding: 0;
      margin: 0;
      li {
        opacity: 0;
        text-align: center;
        transform: translate3d(0, 36px, 0);
        padding: 5px 0;
        a{
          font-size: $font-size-base;
          color: white;
          text-transform: uppercase;
        }
        &:before {
          content: '';
          @include position-center;
          left: auto;
          background-color: white;
          height: 100%;
          width: 0;
          overflow: hidden;
          transition: width 0.14s ease-out;
        }
        &:after {
          opacity: 0;
          content: attr(data-text);
          @include position-center;
          color: $brand-primary;
          overflow: hidden;
          transform: translate(-24px, 6px);
          transition: transform 0.1s ease-out,
          opacity 0.1s ease-out;
        }
        .menu-toggle-open & {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition: transform 0.2s ease-out, opacity 0.2s ease-out;
          display: block;
          visibility: visible;
          @for $i from 1 to 20 {
            &:nth-child(#{$i}) {
              transition-delay: $i * 0.1s + 0.65s;
            }
          }
        }
      }
    }
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04)
    translateY(300%);
  }
  40% {
    transform: scale(0.04)
    translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04)
    translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02)
    translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@media (max-width: $screen-sm-max) {
  .menu-toggle-open {
    .search-holder {
      visibility: hidden;
    }
  }
}

.topnavigation
{
  margin: 3px 0 0 0;
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 870px;
    padding: 0;
    list-style-type: none;
   li{
     a{
       text-transform: uppercase;
       white-space: nowrap;
       display: block;
       padding-bottom: 2px;
       border-bottom:  3px solid transparent;
       &.active, &:hover{
         color: $brand-hover;
         border-bottom: 3px solid $brand-hover;
         text-decoration: none;
       }
       img{
         display: inline-block;
         vertical-align: top;
       }
     }
   }
  }
  &-icons{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
    margin: 8px 0 0 0;
    width: 100%;
    @media (max-width: $screen-sm-max) {
     margin: 0;
    }
    li{
      min-width: 56px;
      position: relative;
      @media (max-width: 1450px) {
        min-width: 42px;
      }
      @media (max-width: $screen-md-max) {
        min-width: 40px;
      }
      @media (max-width: $screen-sm-max) {
        min-width: 30px;
      }
      i{
        display: inline-block;
        vertical-align: middle;
      }
      .__count{
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        margin-left: 5px;
      }
      &.__wishlist
      {
        min-width: 70px;
        @media (max-width: $screen-md-max) {
          min-width: 50px;
        }
        @media (max-width: $screen-sm-max) {
          min-width: 36px;
        }
      }
    }
  }
}