%icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
%icon-small{
  width: 14px;
  height: 14px;
}
.icon-arrow{
  @extend %icon;
  background: url(../svg/arrow.svg) no-repeat center center;
}
.icon-arrow_white{
  @extend %icon;
  background: url(../svg/arrow_white.svg) no-repeat center center;
}
.icon-arr_right
{
  @extend %icon;
  background: url(../svg/arrow_right.svg) no-repeat center center;
}
.icon-arr_left
{
  @extend %icon;
  background: url(../svg/arrow_left.svg) no-repeat center center;
}
.icon-bag{
  @extend %icon;
  background: url(../svg/bag.svg) no-repeat center center;
}
.icon-bag-white{
  @extend %icon;
  background: url(../svg/bag_white.svg) no-repeat center center;
}
.icon-facebook{
  @extend %icon;
  background: url(../svg/facebook.svg) no-repeat center center;
}
.icon-filter1{
  @extend %icon;
  background: url(../svg/filter1.svg) no-repeat center center;
}
.icon-filter2{
  @extend %icon;
  background: url(../svg/filter2.svg) no-repeat center center;
}
.icon-filter_column{
  @extend %icon;
  background: url(../svg/filter_column.svg) no-repeat center center;
}
.icon-filter_column_a{
  @extend %icon;
  background: url(../svg/filter_column_a.svg) no-repeat center center;
}
.icon-heart{
  @extend %icon;
  background: url(../svg/heart.svg) no-repeat center center;
}
.icon-next{
  @extend %icon;
  background: url(../svg/next.svg) no-repeat center center;
}
.icon-delete{
  @extend %icon;
  background: url(../svg/garbage.svg) no-repeat center center;
}
.icon-heart_circle{
  @extend %icon;
  background: url(../svg/heart_circle.svg) no-repeat center center;
}
.icon-heart_circle_red{
  @extend %icon;
  background: url(../svg/heart_circle_red.svg) no-repeat center center;
}
.icon-insta{
  @extend %icon;
  background: url(../svg/insta.svg) no-repeat center center;
}
.icon-ok{
  @extend %icon;
  background: url(../svg/ok.svg) no-repeat center center;
}
.icon-phone{
  @extend %icon;
  background: url(../svg/phone.svg) no-repeat center center;
}
.icon-sale{
  @extend %icon;
  background: url(../svg/sale.svg) no-repeat center center;
}
.icon-search{
  @extend %icon;
  background: url(../svg/search.svg) no-repeat center center;
}
.icon-twitter{
  @extend %icon;
  background: url(../svg/twitter.svg) no-repeat center center;
}
.icon-user{
  @extend %icon;
  background: url(../svg/user.svg) no-repeat center center;
}
.icon-vk{
  @extend %icon;
  background: url(../svg/vk.svg) no-repeat center center;
}
.icon-wishlist{
  @extend %icon;
  background: url(../svg/wishlist.svg) no-repeat center center;
}
.icon-wishlist_d{
  @extend %icon;
  background: url(../svg/wishlist_d.svg) no-repeat center center;
}
.icon-zvezdochka{
  @extend %icon;
  background: url(../svg/star.svg) no-repeat center center;
}
.icon-close{
  @extend %icon;
  background: url(../svg/close_2.svg) no-repeat center center;
}
.__small-icon{
  @extend %icon-small;
}