.main{
  padding: 0 0 40px 0;
  overflow-x: hidden;
  &.home-2{
    padding: 0;
  }
  &-block{
    padding: 23px 0 0 0;
  }
}
.homeslider
{
  padding-top: 40px;
  &-overtext{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 14%;
    right: 0;
    display: flex;
    align-items: flex-end;
    &-subtitle{
      line-height: 22px;
      font-size: 24px;
      text-transform: uppercase;
      color: white;
      @media (max-width: $screen-sm-max) {
        line-height: 22px;
        font-size: 18px;
      }
    }
    &-title{
      line-height: 57px;
      font-size: 48px;
      text-transform: uppercase;
      color: white;
      font-weight: 600;
      margin: 13px 0 30px 0;
      @media (max-width: $screen-sm-max) {
        line-height: 27px;
        font-size: 28px;
      }
    }
    &-wrap
    {
      flex-grow: 1;
    }
  }
}
.homeslider-2{
  padding: 0;
  .item{
    background-size: cover;
    height: 670px;
    @media (max-width: $screen-sm-max) {
      height: 470px;
    }
  }
  .owl-theme .owl-nav [class*='owl-']
  {
    background: #fff;
  }
  .owl-dots{
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
  }
  .owl-theme .owl-dots .owl-dot span
  {
    background: transparent;
    border: 1px solid white;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
  {
    background: #fff;
  }
}
h1{
  &.page-title{
    font-weight: bold;
    color: $brand-hover;
    margin: 20px 0 15px 0;
  }
}
.secondary-menu {
  list-style-type: none;
  padding: 0;
  margin: 29px 0 0 0;
  li {
    display: inline-block;
    font-size: 24px;
    margin: 0 53px 15px 0;
    text-transform: uppercase;
    @media (max-width: $screen-sm-max) {
      margin: 0 20px 15px 0;
    }
    &.__active {
      a {
        color: $brand-hover;
        font-weight: 700;
        border-bottom: 1px solid $brand-hover;
      }
    }
    a:hover{
      text-decoration: none;
      color: $brand-hover;
      border-bottom: 1px solid $brand-hover;
    }
  }
}
.catalogpage
{
  &-toprow{
    margin: 0 0 20px 0;
  }
  &-result{
    color: $gray-lighter;
    text-transform: uppercase;
    margin-top: 13px;
  }
}
.sidebar
{
  padding: 4px 20px;
  border: 1px solid $border-color;
}

.filter{
  &-block{
    &-title{
      padding: 25px 30px 21px 0;
      position: relative;
      font-weight: 700;
      color: $brand-hover;
      font-size: 20px;
      cursor: pointer;
      text-transform: uppercase;
      border-top: 1px solid $border-color;
      .icon-arrow{
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -15px;
        transition: .3s ease-in-out;
        transform: rotate(0deg);
      }

      .__resetfilter
      {
        font-size: 12px;
        color: $gray-lighter;
        display: inline-block;
        margin-left: 15px;
        text-transform: none;
        font-weight: 400;
      }
      i{
        font-style: normal;
      }
    }
    &-item{
      label{
        font-weight: 400;
        color: $gray-light;
        padding: 2px 11px;
        font-size: $font-size-small;
        white-space: nowrap;
        cursor: pointer;
        margin: 0 10px 10px 0;
        transition: background-color .2s linear;
        position: relative;
        border: 1px solid $border-color;
      }
      input{
        display: none;
        &:checked{
          &+label{
            color: white;
            background: $brand-primary;
            padding-right: 30px;
            &:after{
              content: '';
              background: url(../svg/close.svg) no-repeat center;
              position: absolute;
              width: 14px;
              height: 14px;
              top: 50%;
              right: 4px;
              margin: -7px 0 0 0;
            }
          }
        }
        &:disabled{
          &+label{
            color: #CFCFCF;
            background: $grey-superlight;
          }
        }
      }
    }
    &-block{
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      max-height: 0;
      transition: all .3s ease-in-out ;
    }
    &.__opened{
      .filter-block-block
      {
        max-height: 300px;
        padding-bottom: 25px;
      }
      .filter-block-title{
        .icon-arrow{
          transform: rotate(180deg);
        }
      }
    }
    &-price{
      width: 100%;
    }
  }
}

form{
  .filter-block:first-child{
    .filter-block-title
    {
      border-top: none;
      padding-top: 15px;
    }
  }
}
.show-more{
  margin: 10px 0 0 0;
}
.required{
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -13px;
  color: $brand-primary;
}
.error{
  border-color: $brand-danger;
  color: $brand-danger;
  .required, &+.required{
    color: $brand-danger;
  }
}

.sidebar{
  &-menu{
    margin: 30px 0;
    li{
      font-weight: 500;
      text-transform: uppercase;
      margin: 15px 0;
      a{
        span{
          color: $gray-base;
        }
        &:hover{
          color: $brand-warning;
          text-decoration: none;
          span{
            color: $brand-warning;
          }
        }
      }
    }
  }
  &-menu2{
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li{
      font-weight: 500;
      text-transform: uppercase;
      padding: 15px 18px;
      border-bottom: 1px solid $border-color2;
      a{
        color: $gray-base;
        position: relative;
        display: block;
        &:hover, &.is-active{
          color: $brand-warning;
          text-decoration: none;
          span{
            color: $brand-warning;
          }
        }
        &:after{
          content: '\e80c';
          position: absolute;
          top: 50%;
          right: -5px;
          margin-top: -10px;
        }
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
}
.block-shadow
{
  position: relative;
  text-align: center;
  margin: 0 0 30px 0;
  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 45%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(15, 15, 15, 0.608902) 70.27%, rgba(0, 0, 0, 0.649145) 96.59%);
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  &-desc{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    padding: 20px 20px 40px 20px;
  }
  &-title{
    line-height: normal;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 30px 0;
  }
}

.prod-item
{
  text-align: center;
  margin: 0 0 20px 0;
  img{
    max-width: 100%;
    height: auto !important;
  }
  @media (max-width: $screen-xs-max) {
    margin: 0 0 30px 0;
  }
  &-top{
    .btn-stroke
    {
      background: transparent;
      display: block;
      max-width: 240px;
      margin: 0 auto 16px auto;
      position: relative;
      .icon-bag-white
      {
        position: absolute;
        top: 10px;
        margin-top: -3px;
      }
      span{
        padding: 0 30px;
      }
    }
    .btn-info
    {
      display: block;
      max-width: 240px;
      margin: 0 auto;
    }
  }
  &-desc{
    padding: 15px;
    height: 99px;
  }
  &-sku{
    color: $gray-lighter;
    font-size: 12px;
  }
  &-title, &-price{
    font-size: 16px;
    color: $brand-hover;
    margin: 4px 0 2px 0;
    text-transform: uppercase;
  }
  &-link{
    display: inline-block;
    margin: 12px 0 0 0;
    text-transform: uppercase;
  }
  &-image{
    position: relative;
    .prod-item-top
    {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,.6);
      padding: 30px;
      visibility: hidden;
      opacity: 0;
      transition: all .3s;
    }
    &:hover{
      .prod-item-top{
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &-mark{
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 64px;
    img{
      max-width: 100%;
    }
  }
  &-wishlist, &-wishlist_d{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 32px;
    height: 32px;
    background-color: $brand-danger;
    border-radius: 50%;
  }
  &-wishlist_d
  {
    background-color: rgba(#C8C8C8, .79);
  }
  &-pager {
    text-align: center;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 20px auto;
      li {
        margin: 0 10px;
        display: inline-block;
        text-transform: uppercase;
        span {
          font-weight: 700;
          color: $brand-hover;
          border-bottom: 2px solid $brand-hover;
        }
      }
    }
  }
  &-more{
    text-align: center;
    margin: 31px 0 35px 0;
    a{
      text-transform: uppercase;
      border-bottom: 1px dashed $grey-link;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.old-price
{
  text-decoration:line-through;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.new-price{
  color: $brand-danger;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.btn-stroke{
  border: 1px solid #FFFFFF;
  display: inline-block;
  line-height: normal;
  font-size: 16px;
  text-transform: uppercase;
  padding: 13px 15px;
  color: #FFFFFF;
  transition: all .5s;
  &:hover{
    background: #fff;
    color: $brand-hover;
    text-decoration: none;
  }
}
.btn-info
{
  border: 1px solid #FFFFFF;
  display: inline-block;
  line-height: normal;
  font-size: 16px;
  text-transform: uppercase;
  padding: 13px 15px;
  background: $brand-hover;
  color: #fff;
  transition: all .5s;
  border-radius: 0;
  &:hover{
    background: $brand-hover;
    color: #fff;
    text-decoration: none;
  }
}
._relative
{
  position: relative;
}

.row.no-gutters {
  margin-right: -5px;
  margin-left: -5px;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.big-link
{
  text-transform: uppercase;
  color: $brand-hover;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px dashed $brand-hover;
  &:hover{
    color: $brand-danger;
    border-bottom: 1px dashed $brand-danger;
    text-decoration: none;
  }
  &:active, &:visited, &:focus{
    text-decoration: none;
  }
}
.form-select{
  margin: 0 0 20px 0;
  select{
    min-width: 283px;
    background: #FFFFFF;
    text-align: center;
    border: 1px solid $border-color;
    box-sizing: border-box;
    padding: 17px 40px 16px 40px;
    line-height: 13px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .big-link{
    margin-left: 20px;
  }
}
.btn-default{
  background: $brand-hover;
}

.flex-block
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .pull-right{
    order: 2;
  }
}

.front-page{
  &-block {
    padding: 60px 0;
    position: relative;
    @media (max-width: $screen-sm-max) {
      padding: 30px 0;
    }
    &.__greyblock:before {
      content: "";
      background: $grey-superlight;
      left: -50%;
      right: -50%;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    img {
      max-width: 100%;
    }
    &-text {
      max-width: 420px;
      padding: 20px 0;
      h3 {
        font-size: 36px;
        font-weight: 600;
        margin: 0 0 20px 0;
        line-height: 1.4em;
      }
      p {
        color: $gray-lighter;
        line-height: 1.7em;
        margin: 0 0 30px 0;
      }
      .btn {
        min-width: 200px;
      }
    }
    &-h {
      font-size: 36px;
      font-weight: 600;
      margin: 23px 0 19px 0;
      text-transform: uppercase;
    }
    &-cat{
      @media (max-width: $screen-sm-max) {
        padding: 0 0 20px 0;
      }
    }
  }
  &-bottom{
    background-size: cover;
    height: 670px;
    @media (max-width: $screen-sm-max) {
      height: 470px;
    }
    .container, .flex-block{
      height: 100%;
    }
    h3{
      text-transform: uppercase;
      color: #fff;
    }
    p{
      color: #fff;
    }
    .btn-default{
      background: #fff;
      color: $brand-hover;
      border-color: #fff;
    }
  }
  &-bigblock{
    position: relative;
    margin: 20px auto;
    img{
      max-width: 100%;
    }
    h3{
      text-transform: uppercase;
      line-height: 43px;
      font-size: 36px;
      font-weight: 600;
      margin: 70px 0 38px 0;
      @media (max-width: $screen-sm-max) {
        line-height: 28px;
        font-size: 24px;
        margin: 30px 0 18px 0;
      }
    }
    .miniblock
    {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 265px;
      @media (max-width: $screen-sm-max) {
        position: relative;
        width: auto;
        max-width: 100%;
        margin: 48px auto 0 auto;
      }
    }
  }
  &-megablock
  {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 1922px;
    @media (max-width: $screen-sm-max) {
      height: 759px;
    }
    .container{
      position: relative;
      height: 100%;
    }
    .miniblock
    {
      max-width: 265px;
      text-align: center;
    }
    @media (min-width: $screen-md-min) {
      .owl-carousel
      {
        position: static;
      }
      .miniblock-1{
        position: absolute;
        left: 0;
        top: 35%;
      }
      .miniblock-2{
        position: absolute;
        right: 0;
        bottom: 10%;
      }
    }
  }
}

.miniblock
{
  padding: 36px 28px;
  background: #fff;
  &-title{
    font: 600 24px/28px $font-family-sans-serif;
    margin: 0 0 24px auto;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }
  img{
    max-width: 100%;
    height: auto;
    background: #fff;
    margin: 0 0 24px 0;
  }
  p{
    line-height: 24px;
    font-size: 16px;
    color: $gray-lighter;
    margin: 20px 0 0 0;
  }
}
.variant-2{
  header {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }
  main.main{
    @media (min-width: $screen-md-min) {
      padding-top: 35px;
    }
  }
  .topnavigation ul li a
  {
    color: #fff;
    &.active{
      color: #fff;
      border-bottom-color: #fff;
    }
  }
  .icon-bag {
    background: url(../svg/bag_white.svg) no-repeat center center;
  }
  .icon-search {
    background: url(../svg/search_white.svg) no-repeat center center;
  }
  .icon-user {
    background: url(../svg/user_white.svg) no-repeat center center;
  }
  .icon-heart
  {
    background: url(../svg/heart_white.svg) no-repeat center center;
  }
  .topnavigation-icons li .__count
  {
    color: #fff;
  }
  div.menu-toggle span
  {
    background: #fff;
  }
  .main-block
  {
    padding: 0;
  }
}
.tabs-block {
  &-logo {
    margin: 0 0 30px 0;
  }
  &-links {
    &-ul {
      padding: 0;
      margin: 20px 0;
      list-style-type: none;
      li {
        margin: 15px 0;
        a {
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 300;
          &.active, &:hover {
            color: $gray-lighter;
          }
        }
      }
    }
  }
  .bigger {
    line-height: 31px;
    font-size: 20px;
  }
  p {
    margin: 0 0 20px 0;
  }
  &-content{
    font-family: $font-family-helvetica;
    &-item{
      display: none;
      &.active{
        display: block;
      }
    }
  }
}

.slider-bottom-wrapper
{

  .miniblock-image
  {
    height: 120px;
    text-align: center;
    img{
      max-height: 100%;
      width: auto;
      display: inline-block;
    }
  }
}

.owl-carousel.off {
  display: block;
}

.form-group-undertext2
{
  @media (min-width: $screen-md-min) {
    height: 75px;
  }
}

.w-100
{
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.page-title {
  h1 {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 9px 0 0;
    @media (max-width: $screen-sm-max) {
      font-size: 24px;
    }
  }
  &-tabs{
    ul{
      list-style-type: none;
      margin: 30px 0 0 0;
      padding: 0;
      li{
        display: inline-block;
        margin: 0 20px 0 0;
        a{
          font-size: 24px;
          text-transform: uppercase;
          color: $grey-link;
          &:hover{
            color: $brand-hover;
            text-decoration: none;
          }
          &.active{
            font-weight: bold;
            color: $brand-hover;
            border-bottom: 2px solid $brand-hover;
            &:hover{
              text-decoration: none;
              border: none;
            }
          }
        }
      }
    }
  }
}

*:focus::-webkit-input-placeholder { opacity: 0; }
*:focus:-moz-placeholder { opacity: 0; }
*:focus::-moz-placeholder { opacity: 0; }
*:focus:-ms-input-placeholder { opacity: 0; }
*:focus::placeholder { opacity: 0; }

.__grey-bg
{
  background: $grey-superlight;
}