.news{
  &-item{
    margin: 15px 0 47px 0;
    img{
      max-width: 100%;
      height: auto;
    }
    time{
      color: $gray-lighter;
      display: block;
      margin-top: 23px;
      font-size: 13px;
    }
    &-title{
      display: block;
      font: 600 24px/1.2em $font-family-sans-serif;
      margin: 15px 0 17px 0;
      color: $gray-base;
      text-transform: uppercase;
      a{
        color: $brand-hover;
      }
    }
  }
  &-content{
    time{
      display: block;
      color: $gray-light;
      margin: 0 0 40px 0;
    }
    img{
      max-width: 100%;
      height: auto;
    }
    &-back
    {
      margin: 30px 0;
      a{
        text-transform: uppercase;
        font-weight: 500;
        color: $gray-base;
      }
    }
    p{
      margin: 10px 0 20px 0;
      line-height: 1.4em;
    }
  }
}
.main{
  p.big-padding
  {
    margin: 10px 0 26px 0;
  }
  .modal-link{
    font-size: $font-size-small;
    color: $gray-base;
    border-bottom: 1px dotted $gray-base;
    &:hover{
      text-decoration: none;
      border-bottom: 1px solid $gray-base;
    }
  }
  .contact-block
  {
    margin: 0 0 40px 0;
    h4{
      margin: 0 0 5px 0;
    }
  }
}

.page-static
{
  &-text{
    font-family: $font-family-helvetica;
    p{
      line-height: 1.45em;
      margin: 10px 0 41px 0;
    }
    ul{
      margin: 10px 0 30px 10px;
      li{
        line-height: 1.6em;
        margin: 5px 0;
      }
      @media (max-width: $screen-xs-max) {
        margin: 10px 0 30px 0;
      }
    }
    h3,h4{
      text-transform: uppercase;
      margin: 46px 0 20px 0;
    }
    img{
      max-width: 100%;
    }
    &.__withpadding{
      @media (min-width: $screen-md-min) {
        padding: 0 48px;
      }
    }
  }
  &-image{
    margin: 10px 0 20px 0;
    img{
      max-width: 100%;
      height: auto;
    }
  }
  &-subtitle{
    text-transform: uppercase;
    font-size: 30px;
    margin: 20px 0 20px 0;
  }
  &-backlink{
    text-transform: uppercase;
    font-size: 24px;
    margin: 20px 0 50px 0;
    a{
      color: $grey-link;
      &:hover{
        text-decoration: none;
        color: $brand-hover;
      }
    }
  }
}

.rightmenu
{
  padding: 10px 0;
  li{
    margin: 14px 0;
    a{
      text-transform: uppercase;
      font-size: 18px;
      color: $brand-hover;
      &:hover{
        color: $black;
      }
    }
  }
}