.product
{
  &-item{
    border: 1px solid lighten($border-color, 12%);
    margin: 0 0 30px 0;
    transition: box-shadow .3s;
    img{
      max-width: 100%;
      @media (max-width: $screen-xs-max) {
        width: 100%;
        height: auto;
      }
    }
    &-desc{
      padding: 19px;
    }
    &-title{
      font: 500 20px/1em $font-family-sans-serif;
      text-transform: uppercase;
      display: block;
      margin: 0 0 15px 0;
      color: $gray-base;
      &:hover{
        text-decoration: underline;
      }
    }
    &-color{
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }
    &-material
    {
      display: inline-block;
      vertical-align: middle;
      font: 400 $font-size-small $font-family-sans-serif;
      line-height: $font-size-small;
      color: $gray-light;
      margin-left: 5px;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      &-price{
        font: 500 16px/1em  $font-family-sans-serif;
      }
    }
    &:hover{
      @include box-shadow(0 0 16px 0 rgba(0,0,0,.1));
    }
    &.__variant2
    {
      border-color: transparent;
      padding: 20px;
      margin-bottom: 0;
      &:hover{
        border-color: lighten($border-color, 12%);
        box-shadow: none;
      }
      .product-item-color
      {
        margin: 10px auto 10px auto;
      }
      .product-item-material
      {
        display: block;
        margin: 0;
      }
      .product-item-bottom{
        display: block;
      }
      .product-item-bottom-swatch
      {
        text-align: center;
      }
      .product-main-price-value
      {
        font-size: $font-size-h2;
        margin: 0;
      }
      .product-main-discount-value
      {
       font-size: $font-size-small;
        margin: 0;
        height: 20px;
      }
      .btn-info
      {
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s ease-out;
      }
      &:hover{
        .btn-info
        {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &-sort{
    text-align: right;
    &.__no-margin{
      margin-top: 0;
    }
    ul{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      li{

      }
    }
    select{
      border: none;
      border-bottom: 1px solid $border-color;
      padding: 7px;
      margin: 8px 43px 0 0;
      text-transform: uppercase;
      @media (min-width: $screen-md-min) {
        min-width: 187px;
      }
    }
    a{
      transition: all .1s linear;
      display: inline-block;
      border: 1px solid $border-color;
      padding: 6px;
      line-height: 1;
    }
    &.__right{
      text-align: right;
      @media (max-width: $screen-sm-max) {
       text-align: left;
      }
    }
  }
  &-main{
    h1{
      text-transform: uppercase;
      margin: 0 0 13px 0;
      font: 700 $font-size-h1 $font-family-sans-serif;
      line-height: 1.1em;
      color: $brand-hover;
    }
    &-sku{
      color: $gray-lighter;
      margin: 10px 0;
      font-size: $font-size-small;
    }
    &-attr{
      margin: 33px 0;
      li{
        margin: 5px 0;
      }
    }
    &-discount{
      display: inline-block;
      vertical-align: middle;
      &-value{
        text-decoration: line-through;
        font: 400 24px/1em $font-family-sans-serif;
        margin-left: 10px;
        color: $gray-lighter;

      }
    }
    &-price{
      &-value{
        font: 400 30px/1em $font-family-sans-serif;
        margin: 10px 0 16px 0;
        text-transform: uppercase;
        color: $brand-hover;
        display: inline-block;
        vertical-align: middle;
        &.__withdiscount
        {
          color: $brand-red;
          font-weight: 600;
          .ruble-sign:before
          {
            background-color: $brand-red;
          }
        }
      }
    }
    &-info
    {
      &-stock{
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: $brand-hover;
        strong{
          color: $brand-danger;
        }
      }
      &-otl{
        display: inline-block;
        vertical-align: middle;
        margin: -5px 0 0 20px;
      }
    }
    &-list{
      margin: 40px 0 20px 0;
      li{
        margin: 10px 0;
      }
    }
    &-buy{
      .big-link
      {
        margin-left: 20px;
      }
      .btn{
        min-width: 283px;
        padding-left: 66px;
        i{
          position: absolute;
          margin: -3px 0 0 -30px;
        }
      }
      .__wishlist-link
      {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 20px;
      }
    }
    &-image{
      margin-bottom: 20px;
    }
  }
  &-bottom{
    margin: 17px 0;
    p{
      line-height: 1.4em;
      font-size: 14px;
    }
  }
  &-block{
    margin: 40px 0;
    &-main{
      &.__border-bottom{
        padding-bottom: 40px;
        border-bottom: 1px solid $border-color;
      }
    }
    .owl-carousel
    {
      .owl-item {
        img{
          width: auto;
          max-width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
  &-top{
    margin-bottom: 50px;
    &-icon{
      position: absolute;
      top: 10px;
      right: 0;
      z-index: 9;
    }
  }
}

.ruble-sign{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    bottom: 13px;
    left: 2px;
    width: 18px;
    height: 4px;
    background-color: $gray-base;
  }
}

.section-title
{
  font: 500 20px/1em $font-family-sans-serif;
  margin: 20px 0 30px 0;
  text-transform: uppercase;
  &-big{
    font: 500 24px/1em $font-family-sans-serif;
    margin: 25px 0 35px 0;
    text-transform: uppercase;
  }
}
.wishlist-sign
{
  color: $brand-wishlist;
  &:hover, &.is-active{
    color: $brand-red;
  }
}
.modal-body
{
  .product-item.__variant2{
    border-radius: 3px;
    border: 1px solid $input-border;
    padding: 0 15px;
    &:hover{
      border: 1px solid $input-border;
    }
    .product-item-title
    {
      margin-bottom: 7px;
    }
  }
}

.collection{
  &-block{
    margin: 0 0 40px 0;
  }
}
.actions-button
{
  margin: 20px 0 15px 0;
  .btn{
    min-width: 100%;
  }
}
.modal-body
{
  .product-main-price-value
  {
    line-height: 16px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    text-align: right;
  }
  .product-item-desc
  {
    padding: 0;
  }
  &-form{
    margin: 20px 0 0 0;
  }
  .product-item-sku
  {
    line-height: 24px;
    font-size: 14px;
    color: $gray-lighter;
  }
  .product-item-title
  {
    line-height: 16px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
  }
}
#buyclick .modal-content{
  max-width: 400px;
  margin: 0 auto;
}