.register-form
{
  @media (min-width: $screen-md-min) {
    padding: 18px 2%;
  }
  @media (min-width: 1200px) {
    padding: 18px 16%;
  }

  .actions-button
  {
    margin-top: 35px;
  }
  &-title{
    margin-top: 40px;
    @media (max-width: $screen-sm-max) {
      margin-top: 20px;
    }
  }
}

.radio label, .checkbox label
{
  font-size: 14px;
  a{
    text-decoration: underline;
    color: $brand-hover;
    &:hover{
      text-decoration: none;
    }
  }
  strong{
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    font-size: 16px;
  }
  small{
    font-size: 14px;
    color: $gray-lighter;
    display: block;
    margin: 10px 0 8px 0;
  }
}
.form-group{
  &.__bigger{
    margin-bottom: 14px;
  }
}

.cabinet
{
  &-page{
    margin: 10px 0 0 0;
    .cardtable
    {
      tr{
        td:first-child, td:last-child{
          box-shadow: none;
        }
      }
      tbody{
        td{
          padding-top: 20px;
          padding-bottom: 17px;
        }
      }
    }
  }
  &-links{
    border: 1px solid $border-color;
    font-size: 18px;
    margin: 0 0 30px 0;
    &-title{
      background: #F6F6F6;
      padding: 14px 19px;
      text-transform: uppercase;
      font-weight: 600;
    }
    &-table{
      a{
        display: inline-block;
        margin: 0 10px;
      }
    }
    &-list{
      padding: 14px 19px;
      text-transform: uppercase;
      li{
        margin: 12px 0;
        a{
          color: $brand-hover;
          &.active{
            color: $gray-lighter;
          }
          &:hover{
            text-decoration: none;
            color: $gray-lighter;
          }
        }
      }
    }
  }
  &-wrapper{
    @media (min-width: $screen-md-min) {
      padding: 0 0 0 56px;
    }
  }
}
.page-subitle-form
{
  font: 600 24px/1em $font-family-sans-serif;
  text-transform: uppercase;
  margin: 3px 0 20px 0;
}