$background-color: #fff;
$black: #000;
$brand-hover: #333333;
$grey-superlight: #F8F8F8;
$grey-breadcrumbs: $brand-hover;
$grey-link: #666666;
$border-color: #E5E5E5;
$border-color2: #979797;
$brand-dark: #29181e;
$brand-light: #d5cec7;
$brand-red: #EF4136;
$brand-wishlist: #d5d2d2;

@mixin position-center {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}